.task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    position: relative;
    margin: 2px;
    padding: 0.5em 0.5em 0.5em 2em;
    background: lightgrey;
    font-family: sans-serif;
}
.task-registration-form {
    overflow: inherit;
    flex-wrap: wrap;
    display: flex;
    background: lightgrey;
    padding: 16px;
    gap: 8px;
}
